* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #2e354f;
}

.nav,.footer {
  background-color: #2e354f;
  color: #fff;
}

.nav-sub,
.cont-sub,
.foot-sub {
  width: 620px;
  margin: 0 auto;
  padding: 50px 0;
}

.nav {

}

h1 {
  font-size: 36px;
}

.or-head {
  color: #ef5839;
}

.content {

}

h2 {
  font-size: 24px;
  padding-bottom: 10px;
}

h1,
h2,
strong {
font-weight: 900;

}

.cont-img {
  width: 75%;
  padding-bottom: 10px;
}

p {
  padding-bottom: 10px;
}

.footer {
  
}

.footer a {
  color: inherit;
}

.btn-a,
.btn-b {
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  margin: 15px 15px 10px 0px;
  cursor: pointer;
}

.btn-a a,
.btn-b a {
  text-decoration:none;
  ;
}

.btn-a:hover,
.btn-a:focus {
  background: darkcyan;
  transition: 1s;
}

.btn-b:hover,
.btn-b:focus {
  background: darkgoldenrod;
  transition: 1s ease-in;
  color: aliceblue;
}



.btn-a {
  background: #ef5839; ;
}

.btn-b {
  background: #fff;
  color: #2e354f;
}

.foot-bold,
.cont-bold {
  font-weight: bold;
}

.foot-orange,
.cont-or {
  color: #ef5839;
}
